$logo:url('photos/logo.svg');
$bg-header: url("photos/city.png");
$instagram: url("photos/instagram-logo.svg");
$facebook: url("photos/facebook-logo.svg");
$twitter: url("photos/twitter.svg");
$printerest: url("photos/pinterest.svg");
$connection: url("photos/connection.svg");
$bg-tabs: url("photos/tabsbackground.png");
$tabImage2: url("photos/tabsimage2.png");
$tabImage1: url("photos/tabsimage1.png");
$tabImage3:url("photos/tabsimage3.png");
$view:url("photos/eye.svg");
$comment:url("photos/comment.svg");
$medal: url("photos/medal.svg");
$visa: url("photos/visa.svg");
$chat-photo: url("photos/chat-photo.png");
$bars: url("photos/bars.svg");
$gulp: url("photos/gulp.svg");
