
  .mobileNavigation{
    position:absolute;
    top:83px;
    width:0%;
    background:$bg-black;
    overflow:hidden;
    display:flex;

    nav{

      display:flex;
      flex-direction:column;
      padding:35px;
      justify-content: center;
      align-items:center;
      a{
        padding:45px;
        text-decoration: none;
        text-transform:uppercase;
        color:rgba(255, 255, 255, 0.6);
        text-align:center;
      }
    }
  }
